{% extends 'base.html.twig' %} 
{% block body %}
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">
            <img src="../images/flooflix2.png" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Accueil
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="category/categories">Catégories</a>
                </li>
                {% if not user is defined %}
                <li class="nav-item">
                    <a class="nav-link" href="/login">S'identifier</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/register">S'inscrire</a>
                </li>
                {% endif %} {% if user is defined %}
                <li>
                    <a class="nav-link" href="/user/register">Mon compte</a>
                </li>
                <li>
                    <a class="nav-link" href="/home/quit">Se deconnecter</a>
                </li>
                {% endif %}
                {% if user is defined and userRole.id == 1 %}
                <li>
                    <a href="/admin">admin</a>
                </li>
                {% endif %}
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Rechercher</button>
            </form>
        </div>
    </nav>
</header>
<main role="main">
    <div class="container home">
        <h1 class="display-4 relief font-4">FLOOFLIX</h1>
        <p class="lead relief font-2">Le cinéma à portée de clic....</p>
        {% if user is defined %}
        <p class="relief white">Bonjour {{ user }}!  Bienvenue sur flooflix</p>
        {% endif %}
        <hr class="my-4">
        <p class="relief">Sélectionner votre film et faites chauffer le pop-corn !!</p>
        <p class="lead">
        <a class="btn btn-primary btn-lg font-1-5" href="/category/categories" role="button">choisir un film --></a>
        </p> 
    </div>
</main>
<footer role="footer" class="bg-dark">
    <p>Blanc David</p>
    <p>&copy tous droits réservés</p>
</footer>
{% endblock %}



