{% extends 'base.html.twig' %} {% block title %}Ajout{% endblock %} {% block body %}
<div class="container">
    <h1>Créer un nouveau commentaire</h1>

    {{ include('comment/_form.html.twig') }}
    <hr>
    <a class="btn btn-primary btn-lg" href="{{ path('comment_index') }}">Retour à la liste</a>
    <a class="btn btn-primary btn-lg" href="/">Retour à l'accueil du site</a>
</div>
{% endblock %}