{% extends 'base.html.twig' %} 
{% block title %}Nouvelle Categorie{% endblock %} 
{% block body %}
<div class="container">
    <h1>Créer une nouvelle catégorie</h1>
    {{ include('category/_form.html.twig') }}
    <hr>
    <a class="btn btn-primary btn-lg" href="{{ path('category_index') }}">Retour à la liste</a>
    <a class="btn btn-primary btn-lg" href="/">Retour à l'accueil du site</a>
</div>
{% endblock %}