{% extends 'base.html.twig' %} 
{% block title %}Choix par catégorie{% endblock %} 
{% block body %}
<div class="container-fluid bg-dark">
    <div class="jumbotron film">
        <div class="container">
            <h1>Les différentes catégories</h1>
            <div class="card-group">
                <div class="row">
                    {% for category in categories %}
                    <div class="card text-white bg-dark mb-3 col-md-3">
                        <img class="card-img-top img-fluid" src="http://via.placeholder.com/300x150" alt="Card image cap">
                        <div class="card-body">
                            <h2 class="card-title">{{ category.genre }}</h2>
                            <a class="btn btn-primary btn-lg" href="/category/showMoviesByCategory/{{ category.id }}">Liste des films</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <footer class="footfilm">
        <a class="btn btn-primary btn-lg float-left" href="/">Retour à l'accueil du site</a>
    </footer>
</div>
{% endblock %}