{% extends 'base.html.twig' %} 
{% block title %}Ajout{% endblock %} 
{% block body %}
<div class="container">
    <h1>Créer un nouvel utilisateur:</h1>
    <br> {{ include('user/_form.html.twig') }}
    <br>
    <a class="btn btn-primary btn-lg" href="{{ path('user_index') }}">Retour à la liste</a>
    <br>
    <br>
    <a class="btn btn-primary btn-lg" href="/">Retour à l'accueil du site</a>
</div>
{% endblock %}